html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

// .track {

// }

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: rgb(68, 68, 198);
    color: white;
    width: 100%;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.searchBar {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
}

.nav-link{
    color: white;
    padding-right: 10px;
}

.playlistBrief{
    width: 100%;
    background-color: slateblue;
}

.playlistBrief:hover{
    cursor: pointer;
    color: red;
    background-color: skyblue;
}

.del-btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .del-btn:hover {
    background-color: RoyalBlue;
  }